<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuário</title>
</head>

<body>
    <h1>Adicionar Novo Usuário</h1>
    <form action="/add" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">
        <label for="idade">Idade:</label>
        <input type="text" name="idade" id="idade">
        <button type="submit">Adicionar</button>
    </form>
</body>

</html>